@use 'variables' as *;

* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: $font-family;
    text-align: center;
}

.attribution { 
    font-size: 11px; text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}